/* ----------------------------------------------------------------------------- */
/* Main and Body CSS */
main {
  font-family: Raleway;
}

body {
  background-color: #bcb0ee;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Raleway;
}

/* ----------------------------------------------------------------------------- */
/* Main Grid Layout CSS */
.item1 {
  grid-area: left;
}
.item2 {
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 20fr 80fr;
  grid-template-areas: "left right";
}

.grid-container > div {
  font-size: 15px;
}

/* ----------------------------------------------------------------------------- */
/* Text Information CSS */
#logintext {
  border-left: 2px solid black;
  height: 100vh;
  padding-top: 2em;
}

.heading {
  text-align: center;
  margin-bottom: 4px;
}

.subheading {
  text-decoration: underline;
}

/* ----------------------------------------------------------------------------- */
/* Login Area CSS */
#loginbox {
  background-color: #cfcfc4;
  padding-top: 2em;
}

.loginInfo {
  top: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}

/* Google Sign In Button Code */
.g-signin2 > div {
  margin: 0 auto;
}
.abcRioButtonContents * {
  font-size: 18.5px;
}

.abcRioButton.abcRioButtonLightBlue {
  box-shadow: none;
}
.abcRioButton.abcRioButtonLightBlue:hover {
  box-shadow: none;
}
.abcRioButtonContentWrapper {
  background-color: white;
  color: black;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border: none;
}
.abcRioButtonContentWrapper:hover {
  border: none;
  cursor: pointer;
  box-shadow: inset 250px 0 0 0 #bcb0ee;
}

.createAccountBtn {
  color: black;
  text-align: center;
  text-decoration: none;
  padding-top: 2em;
}
.createAccountBtn input {
  font-size: 18.5px;
  padding: 0.5em;
  width: 250px;
  height: 48px;
  background-color: white;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border: none;
}
.createAccountBtn input:hover {
  cursor: pointer;
  box-shadow: inset 250px 0 0 0 #bcb0ee;
}

.p-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 6px;
  margin-bottom: 6px;
}

/* ----------------------------------------------------------------------------- */
/* View Content CSS */
.view-navbar {
  grid-area: nav;
}
.view-contents {
  grid-area: content;
  background-color: #bb9cd9;
  margin-top: 2em;
  padding: 1em;
}

.main-container {
  display: grid;
  padding: 2em 4em 2em 4em;
  grid-template-areas: "nav" "content";
}

/* View Navbar CSS */
input[type="text"] {
  padding: 0.5em;
  border: none;
  font-size: 18.5px;
}
textarea:focus,
input:focus,
select:focus {
  outline: none;
}

.view-navbar {
  background-color: #bb9cd9;
  padding: 1em;
  list-style-type: none;
}
.view-navbar li {
  float: left;
}

.sort-by,
.select-genre {
  list-style-type: none;
}
.sort-by li,
.select-genre li {
  font-size: 18.5px;
}
.sort-by li p,
.select-genre li p {
  margin: 0;
  padding: 0.5em;
}

.custom-select {
  position: relative;
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: white;
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 10px;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Tablature List CSS, Generated in DOM */
.results-list {
  background-color: aqua;
  margin: 4em;
  padding: 0;
}
.results-list-elem {
  background-color: yellow;
  list-style-type: none;
  width: 100%;
}
.results-list-elem * {
  padding: 0.5em;
  font-size: 18.5px;
}
.list-elem-btn {
  float: right;
}
