@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* ----------------------------------------------------------------------------- */
/* Main and Body CSS */
main {
  font-family: Raleway;
}

html,
body {
  height: 100%;
}

body {
  background-color: #bcb0ee;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  font-family: Raleway;
}
*:focus {
  outline: none;
}

body::-webkit-scrollbar,
.tabcontent::-webkit-scrollbar {
  width: 0.75vw;
}
body::-webkit-scrollbar-track,
.tabcontent::-webkit-scrollbar-track {
  background-color: darkgray;
}
body::-webkit-scrollbar-thumb,
.tabcontent::-webkit-scrollbar-thumb {
  background-color: gray;
}

/* generic button css */
.btn-large {
  font-size: 1.3vw;
  padding: 1vw 1.3vw;
  background-color: #bb9cd9;
  border: none;
  transition: background-color 0.5s linear;
}

/* ----------------------------------------------------------------------------- */
/* Main Grid Layout CSS */
.item1 {
  grid-area: left;
}
.item2 {
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 16fr 80fr;
  grid-template-areas: "left right";
}

.main-header {
  grid-area: mainheader;
}
.main-container {
  grid-area: maincont;
}
/* #logintext {
  display: grid;
  grid-template-rows: 10fr 91fr;
  grid-template-areas: "mainheader" "maincont";
} */

/* ----------------------------------------------------------------------------- */
/* Text Information CSS */
#logintext {
  border-left: 2px solid black;
  height: 100%;
}

.heading {
  text-align: center;
}

.subheading {
  text-decoration: underline;
}

/* ----------------------------------------------------------------------------- */
/* Login Area CSS */

.black-placeholder::-webkit-input-placeholder {
  color: rgb(56, 56, 56);
}

#login-err {
  margin: 1vw;
}
#login-err:hover {
  cursor: default;
}

.loginInfo {
  grid-area: login;
}
.login-text {
  grid-area: text;
  font-size: 1.2vw;
}
.login-footer {
  text-align: center;
  border-top: 2px solid black;
  font-size: 1.2vw;
}
.login-footer > * {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

#loginbox {
  background-color: #cfcfc4;
  height: 100vh;
  /* display: grid;
  grid-template-areas: "login" "text"; */
}
#loginboxsignin {
  border-bottom: 2px solid black;
  height: 44vh;
  display: block;
  visibility: hidden;
}

/* user signed in css */
#loginboxsignedin {
  height: 42vh;
  display: none;
  border-bottom: 2px solid black;
}
.signed-in {
  width: 100%;
  margin-left: auto;
  position: relative;
  margin-top: 0;
  text-align: center;
}
.signed-in p {
  width: 80%;
  font-size: 1.2vw;
  margin: auto;
}

.loginInfo {
  top: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}

.p-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 6px;
  margin-bottom: 6px;
}

/* Login / Sign Up Form CSS */

#signin-user {
  margin-top: 3.5vh;
}

.sign-in {
  width: 100%;
  margin-left: auto;
  position: relative;
  margin-top: 0em;
  text-align: center;
}
.sign-in input[type="text"],
.sign-in input[type="password"] {
  font-size: 1vw;
  padding: 0.75vw;
  width: 80%;
  margin-bottom: 1vw;
}
#check-label {
  font-size: 1vw;
}
#check-label:hover {
  cursor: pointer;
}

/* custom checkbox code */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type="checkbox"] + label:before {
  content: "\f096";
}
input[type="checkbox"] + label:before {
  letter-spacing: 7.5px;
}
input[type="checkbox"]:checked + label:before {
  content: "\f046";
}
input[type="checkbox"]:checked + label:before {
  letter-spacing: 5px;
}

.button {
  width: 80%;
  margin-top: 2vh;
  font-size: 1.3vw;
  transition: background-color 0.5s linear;
}
.button:hover {
  cursor: pointer;
  background-color: #a974dd;
}

.login-text {
  position: relative;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
}
#create-btn {
  margin-top: 0;
  margin-bottom: 2vw;
}

#create-account-btn {
  margin-top: 2vw;
}
.login-text button {
  margin-top: 2vw;
  width: 100%;
}

.login-text button:hover {
  cursor: pointer;
  background-color: #a974dd;
}

.foot-lnk {
  text-align: center;
}
.foot-lnk a {
  color: black;
}
/* ----------------------------------------------------------------------------- */
/* View Content CSS */
.view-navbar {
  grid-area: nav;
}
.view-contents {
  grid-area: content;
  background-color: #bb9cd9;
  padding: 1vw;
  height: 82%;
  overflow: hidden;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
#main-container-id {
  margin-top: 3.5vh;
}

.main-container {
  display: grid;
  padding: 0em 4vw 0em 4vw;
  height: 100%;
  grid-template-rows: max-content;
  grid-template-areas: "nav" "content";
  /* animation: fade-in 1s; */
}

.tab-info-playback {
  grid-area: infoplayback;
}
.tab-info {
  grid-area: tabinfo;
}
.tab-playback {
  grid-area: tabplayback;
}
.tab-content {
  grid-area: tabcontentview;
}
.close-tab-btn {
  grid-area: closebtn;
  align-self: end;
}
.tab-container {
  display: none;
  padding: 0em 4vw 0em 4vw;
  height: 100%;
  grid-template-columns: max-content;
  grid-template-columns: 80fr 25.9fr;
  grid-template-areas: "tabcontentview infoplayback";
  /* animation: fade-in 1s; */
}

.tab-info-playback {
  background-color: #bb9cd9;
  padding: 1vw;
  display: grid;
  grid-template-rows: 6fr 3fr 3fr;
  grid-template-areas: "tabinfo" "tabplayback" "closebtn";
  margin-left: 16px;
  height: 84%;
}

.tab-info p {
  animation: fade-in 1s;
}
.tab-content * {
  animation: fade-in 1s;
}

.tab-info-playback p {
  margin: 0;
  padding: 0.5vw;
  font-size: 1.3vw;
}

.close-tab-btn button {
  width: 100%;
  background-color: #a974dd;
  border: none;
}
.close-tab-btn button:hover {
  cursor: pointer;
  background-color: #9c5adf;
}

.tab-content {
  background-color: #bb9cd9;
  padding: 1vw;
  height: 84%;
  overflow-y: auto;
}
.tab-content * {
  animation: fade-in 1s;
}

.tab-content textarea {
  resize: none;
  background-color: #bb9cd9;
  border: none;
}
.tab-content h3 {
  border-bottom: 2px solid black;
}

/* Div Fading CSS */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #cfcfc4;
  font-size: 1vw;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */

/* View Navbar CSS */
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 0.5vw;
  border: none;
  font-size: 1.3vw;
  width: 16vw;
}
textarea:focus,
input:focus,
select:focus {
  outline: none;
}

.search-bar {
  width: 15vw;
  transition: width 0.4s ease-in-out;
  font-family: Raleway;
}
.search-bar:focus {
  width: 25vw;
}

.view-navbar {
  background-color: #bb9cd9;
  padding: 1vw;
  list-style-type: none;
  height: 4.5vw;
  margin-top: 0;
}
.view-navbar li {
  float: left;
}

.sort-by,
.select-genre {
  list-style-type: none;
}
.sort-by li,
.select-genre li {
  font-size: 1.3vw;
}
.sort-by li p,
.select-genre li p {
  margin: 0;
  padding: 0.75vw;
}

.custom-select {
  position: relative;
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: white;
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 10px;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Tablature List CSS, Generated in DOM */
.results-list {
  background-color: #bb9cd9;
  margin: 2vw 4vw 2vw 4vw;
  padding: 0;
  overflow-y: auto;
  max-height: 29vw;
  animation: fade-in 1s;
}
/* results list grid */
.li-genre {
  grid-area: ligenre;
}
.li-song-artist {
  grid-area: limeta;
}
.li-username {
  grid-area: liuser;
}
.li-symbol {
  grid-area: lisymbol;
  justify-self: end;
}

.editmessage {
  text-align: center;
  font-size: 1.4vw;
  background-color: #cfcfc4;
  width: 65vw;
  margin: 1vw auto;
  padding: 1vw;
  font-weight: boldz;
}
.editmessage:hover {
  cursor: default;
}

.results-list-elem {
  background-color: #cfcfc4;
  list-style-type: none;
  width: 100%;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  padding-left: 0;
  display: grid;
  grid-template-columns: 50% 20% 25% 5%;
  grid-template-areas: "limeta ligenre liuser lisymbol";
  align-items: center;
}

.results-list ul {
  padding: 0.75vw;
  margin-bottom: 1vw;
}

.results-list-elem:hover {
  cursor: pointer;
  background-color: gray;
}

.results-list-elem * {
  font-size: 1.3vw;
  margin-top: 0;
}

.results-list-elem b {
  padding-left: 0;
}

#errMsgId {
  text-align: center;
  font-size: 2vw;
  margin-top: 18%;
}

/* CREATE TABLATURE CODE */
.fretboard {
  grid-area: fretboard;
}

.chords-options {
  grid-area: chordopts;
  background-color: #bb9cd9;
  font-size: 1.25vw;
}
.stave-options {
  grid-area: staveopts;
  background-color: #bb9cd9;
  border-right: 2px solid #bcb0ee;
  font-size: 1.25vw;
}

.stavecontainerclass p {
  margin: 0;
}

.createStave label,
.selectstave label,
.spacingblock label,
.insertblock label,
.presavedChords label,
.savedchords label,
.chordcreationdiv label {
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}
.createStave input,
.selectstave input,
.spacingblock input,
.insertblock input,
.block2 input,
.presavedChords input,
.savedchords input,
.chordcreationdiv input {
  padding: 0;
  font-size: 1.25vw;
  width: 5.5vw;
  float: right;
  border: none;
}
.createStave select,
.selectstave select,
.spacingblock select,
.insertblock select,
.presavedChords select,
.savedchords select {
  width: 6.5vw;
  font-size: 1.25vw;
  float: right;
  border: none;
  margin-right: 10px;
}
.spacingblock select,
.insertblock select,
.presavedChords select,
.savedchords select {
  width: 3vw;
}
#editChordBtn {
  width: 3vw;
  margin-left: 10px;
  float: right;
  font-size: 1.25vw;
  width: 5.5vw;
  border: none;
}
.createStave,
.selectstave,
.spacingblock,
.insertblock,
.presavedChords,
.savedchords,
.chordcreationdiv {
  text-align: end;
  margin-bottom: 10px;
}

.nogaph4 {
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 5px;
}

.gaph4 {
  border-bottom: 2px solid black;
  margin-top: 2vw;
  margin-bottom: 5px;
}

#chName {
  margin-right: 10px;
}
#clearChord {
  float: right;
  font-size: 1.25vw;
  width: 5.5vw;
  border: none;
}

.chordcreationdiv {
  margin-top: 16px;
}

.option {
  grid-area: option;
}

.create-container {
  display: none;
  grid-row-gap: 16px;
  grid-template-columns: 27fr 10fr 10fr;
  grid-template-areas: "fretboard fretboard fretboard" "tabcontent staveopts chordopts";
  padding: 0em 4vw 4vw 4vw;
  height: 100%;
}

/* fretboard code */
div.fretboard {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  /* background-image: url(wood.jpg); */
  background-color: #aa715d;
  background-size: 100%;
  background-attachment: scroll;
  position: relative;
  overflow: auto;
}

div.fret {
  display: table-cell;
  width: 4.2%;
  min-width: 40px;
  margin: 0;
  padding: 0;
  /* border: 1em solid black; */
  border-width: thin;
  border-right: 3px solid black;
  border-bottom: 1px solid black;
  /* border-top: 0.25px solid black; */
}

div.fret:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

div.fretFirstRow {
  display: table-row;
  width: 100%;
}

div.fretMidRow {
  display: table-row;
  width: 100%;
}

div.fretLastRow {
  display: table-row;
  width: 100%;
}

div.fretLegendRow {
  display: table-row;
  width: 100%;
  background-color: #bcb0ee;
}

div.fretUnselectableLegend {
  display: table-cell;
  text-align: center;
  font-size: 1.25vw;
  font-weight: bold;
}

div.fretStringLegend {
  background-color: #bcb0ee;
  border-right: 5px solid rgb(80, 80, 80);
}

.tuningDropdown {
  height: 25px;
}

/* chord options css */
.chords-options {
  width: min-content;
}

.chords {
  grid-area: chords;
  margin: 1vw;
}
.option {
  grid-area: opts;
  margin: 1vw;
  margin-top: 0;
  display: flex;
}
.option button {
  margin-right: 2px;
}

/* audio section css */
.audio {
  grid-area: audio;
  margin: 1vw;
}

.audio-btns {
  text-align: center;
}
.audio-btns i:hover {
  cursor: pointer;
}
#bpm-text {
  width: 4vw;
  height: 2vw;
}
#bpm-text:hover {
  cursor: default;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2vw;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #a974dd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #a974dd;
  cursor: pointer;
}

.chords-options {
  display: grid;
  grid-template-rows: max-content;
  grid-template-areas: "chords" "audio" "opts";
  width: auto;
}

.chordselection label {
  display: inline-block;
  text-align: left;
}

.chordselection select {
  display: inline-block;
  width: 5vh;
  text-align: left;
}

#startPosLbl {
  display: inline-block;
  width: 23vh;
  text-align: left;
}

#startPos {
  width: 2.5vw;
  font-size: 1.25vw;
}

/* Chord Creation Fretbox */

div.miniFretboard {
  /* background-image: url(wood.jpg); */
  background-color: #aa715d;
  position: relative;
  overflow: auto;
  width: fit-content;
}

div.miniFirstRow {
  display: table-row;
  width: 100%;
}

div.miniFirstRow {
  display: table-row;
  width: 100%;
}

div.miniSecondRow {
  display: table-row;
  width: 100%;
}

div.miniThirdRow {
  display: table-row;
  width: 100%;
}

div.miniFourthRow {
  display: table-row;
  width: 100%;
}

div.miniFifthRow {
  display: table-row;
  width: 100%;
}

div.miniSixthRow {
  display: table-row;
  width: 100%;
}

div.fret2 {
  display: table-cell;
  width: 4%;
  min-width: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-width: thin;
  /* border-right: 3px solid black; */
}

div.fret2:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

div.fret2Selected {
  background-color: brown;
  display: table-cell;
  width: 4.2%;
  min-width: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-width: thin;
  /* border-right: 2px solid black;
  border-bottom: 1px solid black; */
}

div.fret2Selected:hover {
  background-color: brown;
}

div.miniFretLegend {
  display: table-row;
  width: 100%;
  background-color: #bb9cd9;
}
.tuningLabel {
  background-color: #bb9cd9;
  border-right: 5px solid black;
  float: right;
  width: inherit;
}

.option button {
  background-color: #a974dd;
}
.option button:hover {
  cursor: pointer;
  background-color: #9c5adf;
}

/* stave css */
.info {
  grid-area: tabinfo;
}
.staveoptions {
  grid-area: staveoptions;
}
.tabcontent {
  grid-area: tabcontent;
}
.taboptions {
  grid-area: taboptions;
}
.optionscontent {
  grid-area: optionscontent;
  margin: 1vw;
}
.chordselect {
  grid-area: chordselect;
}

.optionscontent {
  display: grid;
  grid-template-areas: "staveoptions" "taboptions" "chordselect";
}

.spacing {
  grid-area: spacing;
}

.tabcontent {
  background-color: #bb9cd9;
  overflow-y: auto;
  border-right: 2px solid #bcb0ee;
  font-size: 1.25vw;
  padding: 1vw;
  max-height: 33vw;
}
.tabcontent h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
#tempmessage {
  text-align: center;
  top: 50%;
}
.block2 {
  text-align: center;
}
/* ----------------------------- Tab Output CSS ----------------------------- */

textarea {
  resize: none;
  font-family: monospace;
}

/* ----------------------------- Tab Option CSS ----------------------------- */
.block2 .optionBtn {
  font-size: 1.5vw;
  border: none;
  padding: 0.5vw;
  height: 2.5vw;
  width: 2.5vw;
}

.optionBtn {
  background-color: gray;
}

.activeBtn {
  background-color: #bcb0ee;
}
/*
.block label {
  display: inline-block;
  width: 18vh;
  text-align: left;
} */

.optionBtn:hover {
  background-color: #8064f1;
}
#clearOptions {
  margin-top: 10px;
}

/* MODAL CSS */
.modal {
  opacity: 0;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.6);
  transition: all 0.25s ease-in-out;
}
/* generic modal content style */
.modal-content {
  background-color: #bcb0ee;
  padding: 2vw;
  border: 2px solid black;
  /* animation: fade-in-2 0.5s; */
}
.back-modal-content {
  margin: 35vh auto;
  width: 30%;
}
.help-modal-content {
  margin: 13vh auto;
  width: 60%;
}
.modal-content h4 {
  margin-top: 0;
  text-align: center;
  font-size: 1.5vw;
  text-decoration: underline;
}
.help-modal-content h4 {
  text-align: left;
  margin-bottom: 1vw;
}
.help-modal-content p,
.help-modal-content li {
  font-size: 1.2vw;
}
.help-modal-content ul {
  list-style-type: none;
}
.modal-content .back-buttons {
  text-align: center;
}
.modal-content button {
  background-color: #a974dd;
  padding: 1vw;
  font-size: 1.25vw;
  border: none;
  width: 8vw;
  margin-left: 25px;
  margin-right: 25px;
  transition: background-color 0.5s linear;
  font-weight: bold;
}
.modal-content button:hover {
  cursor: pointer;
  background-color: #9c5adf;
}
.close {
  float: right;
  position: relative;
  top: -18px;
  right: -13px;
}
.close:hover {
  cursor: pointer;
}

.save {
  grid-area: save;
  border-right: 1px solid black;
}
.export {
  grid-area: export;
  border-left: 1px solid black;
}
.export-btns {
  display: grid;
  justify-content: center;
  grid-gap: 2vw;
  margin-top: 5vw;
}
.export-btns button {
  width: 15vw;
}
.save-modal-content {
  margin: 20vh auto;
  width: 50%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "save export";
  padding-left: 0;
  padding-right: 0;
}
.save-modal-content p {
  margin-bottom: 10px;
  font-size: 1.4vw;
}
.save-close {
  right: 1vw;
  top: -1.3vw;
}
#song-genre {
  font-size: 1.3vw;
  padding: 0.5vw;
  width: 16vw;
}

/* create account modal */
.create-inputs {
  grid-area: createins;
}
.createblockbtn {
  grid-area: createout;
}

.create-account-content {
  margin: 30vh auto;
  width: 40%;
  display: grid;
  grid-template-areas: "createins" "createout";
  height: 27vw;
}

#register {
  grid-area: reg;
  margin: 0;
  width: 100%;
}
#create-err-msg {
  grid-area: msg;
  font-size: 1.3vw;
  text-align: center;
  margin-bottom: 0;
}

.createblockbtn {
  display: grid;
  grid-template-areas: "msg reg";
  grid-template-columns: 75fr 25fr;
}

.createblock label {
  display: inline-block;
  width: 13vw;
  text-align: right;
  font-size: 1.3vw;
  padding-right: 1vw;
}
.createblock input {
  width: 60%;
}
.createblock {
  padding-bottom: 1vw;
}

/* alert modal */
.alert-modal-content {
  margin: 1vw auto;
  width: 18%;
  height: max-content;
}
.alert-modal-content p {
  font-size: 1.5vw;
  text-align: center;
  margin: 0;
}

/* username and email loading spinners */
#usernameWrap {
  position: relative;
  /* display: inline-block; */
}
.loadingspinner {
  position: absolute;
  /* display: inline-block; */
  width: 2.5vw;
  height: 2.5vw;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #9c5adf;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin-left: 0.3vw;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* confirm modal */
.confirm-modal-content {
  margin: 18vw auto;
  width: 20%;
  height: max-content;
}
.confirm-modal-content h4 {
  text-decoration: none;
}
.confirm-buttons {
  display: flex;
}

/* continue to create tab modal */
.createtab-modal-content {
  margin: 18vw auto;
  width: 30%;
  height: max-content;
  text-align: center;
}
.createtab-modal-content buttons {
  display: flex;
}
.createtab-modal-content p {
  margin-top: 0;
  font-size: 1.4vw;
}

/* alert message modal */
.alert-msg-modal-content {
  background-color: #ff6961;
  margin: 1vw auto;
  width: 20%;
  text-align: center;
}
.alert-msg-modal-content p {
  font-size: 1.4vw;
  margin: 0;
}
