main {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: teal;
  margin: 0;
  padding: 0;
  height: 100%;
}

#loginbox {
  display: inline-block;
  text-align: center;
  background-color: #707070;
  height: 100vh;
}

#logintext {
  width: 60vw;
  border-right: 10px solid black;
}

#infotext {
  margin-left: 5em;
  margin-right: 5em;
}


.heading {
  text-align: center;
}

.subheading {
  text-decoration: underline;
}

.g-signin2 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.g-signin2 > div {
  margin: 0 auto;
}

/* GRID LAYOUT CSS */

.item1 { grid-area: right; }
.item2 { grid-area: left; }

.grid-container {
  display: grid;
  grid-template-areas:
    'left right';
  background-color: teal;
}

.grid-container > div {
  font-size: 20px;
}
