body {
  background-color: teal;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

main > div {
  border: 8px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

/* ------------------------------------ */
/* ---------- NAVIGATION BAR ---------- */
/* ------------------------------------ */

header {
  border: 8px solid black;
  border-radius: 20px;
  background-color: gray;
  margin: 10px;
}

.navmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navmenu > li {
  display: inline;
}

.navheader {
  float: left;
  display: block;
  font-size: 20px;
  padding: 16px;
}

.navmenu li a {
  font-size: 20px;
  float: right;
  display: block;
  text-align: center;
  padding: 16px 16px;
  border-left: 5px solid black;
  text-decoration: none;
}

.navmenu li a:hover {
  background-color: #585858;
}

.navmenu li a:visited {
  text-decoration: none;
  color: black;
}

/* ------------------------------------ */
/* --------- MAIN GRID LAYOUT --------- */
/* ------------------------------------ */

.info { grid-area: info; }
.fretboardBox { grid-area: fretboardBox; }
.fretoptions { grid-area: fretoptions; }
.tabbox { grid-area: tabbox; }

.mainel {
  display: grid;
  grid-template-areas:
    'info info info'
    'fretboardBox fretboardBox fretoptions'
    'tabbox tabbox fretoptions';
  margin-top: 20px;
  grid-template-columns: 1.5fr 1.5fr 1fr;
}

/* ------------------------------------- */
/* ---------- FRETBOARD CODE  ---------- */
/* ------------------------------------- */

div.fretboardBox {
  display: inline-block;
  height: 20vh;
  padding: 10px;
}

div.fretboard {
  background-image: url(wood.jpg);
  background-size: cover;
  position: relative;
  overflow: auto;
}

div.fret {
  display: table-cell;
  width: 4.2%;
  min-width: 40px;
  margin: 0;
  padding: 0;
  /* border: 1em solid black; */
  border-width: thin;
  border-right: 2px solid black;
}

div.fret:hover {
  background-color: sienna;
}


div.fretFirstRow {
  display: table-row;
  width: 100%;
}

div.fretMidRow {
  display: table-row;
  width: 100%;
}

div.fretLastRow {
  display: table-row;
  width: 100%;
}

div.fretLegendRow {
  display: table-row;
  width: 100%;
  background-color: teal;
}

div.fretUnselectableLegend {
  display: table-cell;
  text-align: center;
}

div.fretStringLegend {
  background-color: teal;
  border-right: 5px solid black;
}

.tuningDropdown {
  height: 25px;
}
