body {
  background-color: teal;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

main > div {
  border: 8px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  background-color: teal;
  margin: auto;
  padding: 20px;
  border: 5px solid black;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Modal Content */
.modalContent2 {
  background-color: teal;
  margin: auto;
  padding: 20px;
  border: 5px solid black;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.saveModalInput {
  display: table;
  vertical-align: middle;
  height: 50px;
}

/* -------------------------------------------------------------------------- */
/* ---------- NAVIGATION BAR ------------------------------------------------ */
/* -------------------------------------------------------------------------- */

header {
  border: 8px solid black;
  border-radius: 20px;
  background-color: gray;
  margin: 10px;
}

.navmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navmenu > li {
  display: inline;
}

.navheader {
  float: left;
  display: block;
  font-size: 20px;
  padding: 16px;
}

.navmenu li a {
  font-size: 20px;
  float: right;
  display: block;
  text-align: center;
  padding: 16px 16px;
  border-left: 5px solid black;
  text-decoration: none;
}

.navmenu li a:hover {
  background-color: #585858;
}

.navmenu li a:visited {
  text-decoration: none;
  color: black;
}

/* -------------------------------------------------------------------------- */
/* --------- MAIN GRID LAYOUT ----------------------------------------------- */
/* -------------------------------------------------------------------------- */

.fretboardBox {
  grid-area: fretboardBox;
}
.chordoptions {
  grid-area: chordoptions;
}
.tabbox {
  grid-area: tabbox;
}

.mainel {
  display: grid;
  grid-template-areas:
    "fretboardBox fretboardBox chordoptions"
    "tabbox tabbox chordoptions";
  margin-top: 20px;
  grid-template-columns: 1.5fr 1.5fr 1fr;
}

/* -------------------------------------------------------------------------- */
/* ---------- CHORD OPTIONS CODE --------------------------------------------- */
/* -------------------------------------------------------------------------- */

.chordselection {
  padding-bottom: 5px;
}

.chordcreation {
  /* border-top: 2px solid black; */
  padding-top: 15px;
}

.chordselection label {
  display: inline-block;
  width: 23vh;
  text-align: left;
}

.chordselection select {
  display: inline-block;
  width: 5vh;
  text-align: left;
}

#startPosLbl {
  display: inline-block;
  width: 23vh;
  text-align: left;
}

#startPos {
  width: 5vh;
}

#chNameLbl {
  display: inline-block;
  width: 23vh;
  text-align: left;
}

#chName {
  width: 5vh;
}

/* Chord Creation Fretbox */

div.miniFretboard {
  margin-top: 15px;
  background-color: beige;
  position: relative;
  overflow: auto;
}

div.miniFirstRow {
  display: table-row;
  width: 100%;
}

div.miniFirstRow {
  display: table-row;
  width: 100%;
}

div.miniSecondRow {
  display: table-row;
  width: 100%;
}

div.miniThirdRow {
  display: table-row;
  width: 100%;
}

div.miniFourthRow {
  display: table-row;
  width: 100%;
}

div.miniFifthRow {
  display: table-row;
  width: 100%;
}

div.miniSixthRow {
  display: table-row;
  width: 100%;
}

div.fret2 {
  display: table-cell;
  width: 4.2%;
  min-width: 60px;
  margin: 0;
  padding: 0;
  /* border: 1em solid black; */
  border-width: thin;
  /* border-right: 2px solid black;
  border-bottom: 1px solid black; */
  border: 1px solid black;
}

div.fret2:hover {
  background-color: sienna;
}

div.fret2Selected {
  background-color: brown;
  display: table-cell;
  width: 4.2%;
  min-width: 60px;
  margin: 0;
  padding: 0;
  /* border: 1em solid black; */
  border-width: thin;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
}

div.fret2Selected:hover {
  background-color: brown;
}

div.miniFretLegend {
  display: table-row;
  width: 100%;
  background-color: teal;
}

/* -------------------------------------------------------------------------- */
/* ---------- FRETBOARD CODE  ----------------------------------------------- */
/* -------------------------------------------------------------------------- */

div.fretboardBox {
  display: inline-block;
  padding: 10px;
}

div.fretboard {
  background-image: url(wood.jpg);
  background-size: 100%;
  background-attachment: scroll;
  position: relative;
  overflow: auto;
}

div.fret {
  display: table-cell;
  width: 4.2%;
  min-width: 40px;
  margin: 0;
  padding: 0;
  /* border: 1em solid black; */
  border-width: thin;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
}

div.fret:hover {
  background-color: sienna;
}

div.fretFirstRow {
  display: table-row;
  width: 100%;
}

div.fretMidRow {
  display: table-row;
  width: 100%;
}

div.fretLastRow {
  display: table-row;
  width: 100%;
}

div.fretLegendRow {
  display: table-row;
  width: 100%;
  background-color: teal;
}

div.fretUnselectableLegend {
  display: table-cell;
  text-align: center;
}

div.fretStringLegend {
  background-color: teal;
  border-right: 5px solid black;
}

.tuningDropdown {
  height: 25px;
}

#clearChord {
  float: right;
}

/* -------------------------------------------------------------------------- */
/* ---------- TAB BOX CODE  ------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* GRID CODE */
.info {
  grid-area: tabinfo;
}
.staveoptions {
  grid-area: staveoptions;
}
.tabcontent {
  grid-area: tabcontent;
}
.taboptions {
  grid-area: taboptions;
}

.tabbox {
  display: grid;
  grid-template-areas:
    "staveoptions staveoptions staveoptions taboptions"
    "tabcontent tabcontent tabcontent taboptions"
    "tabcontent tabcontent tabcontent taboptions";
  margin-top: 20px;
}

/* ---------------------------- Stave Option CSS ---------------------------- */
