body {
  background-color: teal;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

main > div {
  border: 8px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

/* -------------------------------------------------------------------------- */
/* ---------- NAVIGATION BAR ------------------------------------------------ */
/* -------------------------------------------------------------------------- */

header {
  border: 8px solid black;
  border-radius: 20px;
  background-color: gray;
  margin: 10px;
}

.navmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navmenu > li {
  display: inline;
}

.navheader {
  float: left;
  display: block;
  font-size: 20px;
  padding: 16px;
}

.navmenu li a {
  font-size: 20px;
  float: right;
  display: block;
  text-align: center;
  padding: 16px 16px;
  border-left: 5px solid black;
  text-decoration: none;
}

.navmenu li a:hover {
  background-color: #585858;
}

.navmenu li a:visited {
  text-decoration: none;
  color: black;
}

/* -------------------------------------------------------------------------- */
/* --------- MAIN GRID LAYOUT ----------------------------------------------- */
/* -------------------------------------------------------------------------- */

.fretboardBox { grid-area: fretboardBox; }
.fretoptions { grid-area: fretoptions; }
.tabbox { grid-area: tabbox; }

.mainel {
  display: grid;
  grid-template-areas:
    'fretboardBox fretboardBox fretoptions'
    'tabbox tabbox fretoptions';
  margin-top: 20px;
  grid-template-columns: 1.5fr 1.5fr 1fr;
}

/* -------------------------------------------------------------------------- */
/* ---------- INFO BOX CODE  ------------------------------------------------ */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* ---------- FRETBOARD CODE  ----------------------------------------------- */
/* -------------------------------------------------------------------------- */

div.fretboardBox {
  display: inline-block;
  padding: 10px;
}

div.fretboard {
  background-image: url(wood.jpg);
  position: relative;
  overflow: auto;
}

div.fret {
  display: table-cell;
  width: 4.2%;
  min-width: 40px;
  margin: 0;
  padding: 0;
  /* border: 1em solid black; */
  border-width: thin;
  border-right: 2px solid black;
}

div.fret:hover {
  background-color: sienna;
}


div.fretFirstRow {
  display: table-row;
  width: 100%;
}

div.fretMidRow {
  display: table-row;
  width: 100%;
}

div.fretLastRow {
  display: table-row;
  width: 100%;
}

div.fretLegendRow {
  display: table-row;
  width: 100%;
  background-color: teal;
}

div.fretUnselectableLegend {
  display: table-cell;
  text-align: center;
}

div.fretStringLegend {
  background-color: teal;
  border-right: 5px solid black;
}

.tuningDropdown {
  height: 25px;
}

/* -------------------------------------------------------------------------- */
/* ---------- TAB BOX CODE  ------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* GRID CODE */
.info { grid-area: tabinfo; }
.staveoptions { grid-area: staveoptions; }
.tabcontent { grid-area: tabcontent; }
.taboptions { grid-area: taboptions;}

.tabbox {
  display: grid;
  grid-template-areas:
    'staveoptions staveoptions tabinfo'
    'tabcontent tabcontent tabinfo'
    'tabcontent tabcontent taboptions';
  margin-top: 20px;
}

/* ---------------------------- Stave Option CSS ---------------------------- */
div.staveoptions {
  border: 5px solid black;
  margin: 5px;
  padding: 10px;
  background-color: gray;
  border-radius: 20px;
}

.staveoptions > * {
  margin: 5px;
}

/* ------------------------------ Tab Info CSS ------------------------------ */
div.info {
  border: 5px solid black;
  padding: 5px;
  background-color: gray;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  display: grid;
}

div.info > input {
width: 50%;
}

/* ----------------------------- Tab Output CSS ----------------------------- */
div.tabcontent {
  margin-top: 10px;
  border: 5px solid black;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

/* ----------------------------- Tab Option CSS ----------------------------- */
div.taboptions {
  border: 5px solid black;
  margin: 5px;
  padding: 10px;
  background-color: gray;
  border-radius: 20px;
}
