main {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  background-color: teal;
  margin: 0;
  padding: 0;
}

main > div {
  text-align: center;
}

#logo {
  text-align: center;
  padding-bottom: 40px;
}

#mainform {
  text-align: center;
}

.mainBtn {
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  padding: 50px;
  margin: 20px;
  font-size: 30px;
}

#signOutBtn {
  background-color: gray;
  border: 2px solid black;
  padding: 15px;
  margin: 10px;
  width: 20%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}
