body {
  background-color: teal;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

main > div {
  border: 8px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: gray;
}



/* NAVIGATION BAR */
header {
  border: 8px solid black;
  border-radius: 20px;
  background-color: gray;
  margin: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar > li {
  display: inline;
}

.navbar li a {
  font-size: 20px;
  float: right;
  display: block;
  text-align: center;
  padding: 16px 16px;
  border-left: 5px solid black;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #585858;
}

.navbar li a:visited {
  text-decoration: none;
  color: black;
}

.navheader {
  float: left;
  display: block;
  font-size: 20px;
  padding: 16px;
}



/* SEARCH CRITERIA  */
.searchCriteria {
  grid-area: criteria;
  padding-left: 5px;
  width: 100%;
  position: sticky;
}

.block {
  padding-top: 10px;
}

.block label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.infoInput > input {
  width: 150px;
}

.showWhichTabs {
  width: 173px;
}

#searchGenre {
  width: 173px;
}

.tabTable { grid-area: tabTable }

#selectedContent {
  grid-area: myContent;
  visibility: hidden;
}

.selectTab {
  display: grid;
  grid-template-areas:
    'tabTable criteria'
    'myContent myContent';
}


/* TABLE CSS */
table, th, td {
  border: 1px solid black;
}

table  {
  background-color: white;
  width: 100%;
  visibility: hidden;
}
